:root {
	--navy: #033240;
	--blue: #25aae1;
	--green: #3f935a;
	--green-trans: rgba(46, 139, 87, 0.5);
  --yellow: #fed363;
  --yellow-highlight: #fffbf1;
	--yellow-desat: #fff7e0;
  --beige: #f7edd3;
  --brown: #483729cc;
}


@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Roboto+Mono&display=swap');

html {
	scroll-behavior: smooth;
	background-color: var(--yellow-desat);
	color: var(--brown);
}

h1, h2, h3, h4, h5, h6, h7{
  color: var(--green);
}

html *{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
  scroll-margin-top: 80px;
}


#home  *{
	font-family: 'Roboto', sans-serif;
}


#potato-storage-text ul {
  list-style: default;
}

#potato-storage-img {
  background-image: url("img/Potato-Storage_Clear.jpeg");
  margin: 30px;
}

.lorem {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  height: 50vh;
  margin: 80px 150px;
}

.lorem-image {
  background-image: url("img/rapgod.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px
  min-height: 100%;
  width: 450px;
}

.cols {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
}

.cols div {
  height: 100%;
  flex-grow: 1;
}

.cols p {

  width: 100%;
}

#lorem-cols {
  gap: 100px;
}

#tiers {
  gap: 1rem;
  font-size: 0.85rem;
  margin: 20px 0;
}

#tiers p {
  margin-top: 5px;
}

#tiers h5 {
  font-size: 1rem;
}

.responsive-title {
	height: 100vh;
	height: 100svh;
	min-height: 500px;
	background-image: url("img/Agronomy.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	padding: 0px 60px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.responsive-title div {
	position: absolute;
	background-color: rgb(0, 04, 35, 0.5);
	height: 100vh;
	height: 100svh;
	width: 100vw;
}

.responsive-title font {
	font-size: 2.4rem;
	color: white;
	z-index: 1;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	width: 100vw;
	background-color: rgb(0, 0, 0, 0);
}


header li, a {
	font-size: 0.95rem;
	text-decoration: none;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}


header li {
 	color: white;
}

header > a {
	color: var(--navy);
}

.links li > a {
	color: white;
	font-family: 'B612 Mono', monospace !important;
}

.links strong {
	font-family: 'B612 Mono', monospace !important;

}

#tab > a{
	font-family: 'B612 Mono', monospace !important;
}

.links {
	display: flex;
	justify-content: center;
}

.links {
	list-style: none;
}

.links a:hover {
	font-size: 1.15rem;
}

.links li {
	display: inline-block;
	padding: 0px 20px;
	margin: auto;
}

.links li a {
	transition: all 0.3s ease 0s;
}

.sidebar{
	position: fixed;
	height: 100vh;
	height: 100svh;
	width: 300px;
	z-index: 999;
	box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgb(128, 128, 128, 0.5);
	flex-direction: column;
	align-items: left;
	justify-content: flex-start;
	font-size: 2rem;
	padding: 30px 20px;;
	margin: 0px 0px;


  top: 0;
	right: -100%;list-style: none;
  transition: right 600ms ease;
}

.sidebar.slide {
  right: 0;
}


#sustain-img {
  background-image: url(img/Sustainability.jpg);
}





.sidebar ul {
	font-size: 1.4rem;
	margin: 0px 0px;
}

.sidebar li {
	width: 100%;
	margin: 0px 0px;
}

.sidebar a{
	width: 100%;
	display: flex;
	text-align: left;
	font-size: 1.4rem;
}

.sidebar img {
	height: 2rem;
	width: 2rem;
	margin: 5px;
	position: relative;
	top: 5px;
	left: -3px;
}

button {
	background-color: var(--green);
	border: none;
	border-radius: 50px
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: var(--blue);
}

.logo {
	position:absolute;
	cursor: pointer;
	left: 10px;
}

.agronomy {
  color: var(--yellow-desat);
  background-color: var(--green);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.agronomy p {
  width: 1200px;
  font-size: 1.4rem;
}

.agronomy h1 {
  color: var(--yellow-desat);
}


.r-and-d {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
	padding: 5vh 4vw;
  margin: 50px 10px;
  height: 50vh;
}

.r-d-text {
  flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  min-height: 100%;
	height: 50vh;
	background:var(--beige);
	padding:70px;
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5);
}

.r-d-text * {
	font-size: 1.4rem;
}

.r-d-text h1 {
  margin-top: 15px;
}

.r-d-grid {
	height: auto;
	width: 100%;
	display: grid;
	grid-gap: 15px;
	grid-auto-rows: auto auto auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.r-d-grid {
  height: auto;
  min-height: 100%;

}

.r-d-grid * {
  max-height: 100%;
}

#r-d-grid-container {
  flex-grow: 1;
  height: 50vh;
}

.item-1, .item-2, .item-3, .item-4{
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.item-1 {
	grid-row: span 1;
	grid-column: span 4;
	background-image: url('img/Potato_Trials_2.jpeg');
}

.item-2 {
	grid-row: span 1;
	grid-column: span 6;
	background-image: url('img/Potato_Trials_3.jpeg');
}

.item-3 {
	grid-row: span 1;
	grid-column: span 5;
	background-image: url(img/Potato_Trials_Main.jpeg)
}

.item-4 {
	grid-row: span 1;
	grid-column: span 5;
	background-image: url('img/Potato_Trials_1.jpeg');
}


.potato-storage {
	background-image: url(img/Potato_Storage.jpeg);
	background-size: cover;
	width: 100vw;
	height: 40vh;
	position: relative;
}

.sprout {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 50px 0;
}

.sprout-img {
  height: 90%;
  flex-basis: 30%;
  background-size: cover;
  padding: 40px;
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5);
}

.sprout-text {
  height: 100%;
  padding: 50px;
  flex-basis: 65%;
  background: var(--beige);
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5);
	margin:30px;
}

.sprout-text ul {
  list-style: none;
}

#sprout-read-more {
  margin-top: 50px;
}

#img1 {
  background-image: url("img/Potato_Storage_1.jpeg");
  margin: 30px;
}

#img2 {
  background-image: url("img/Potato_Storage.jpeg");
}

.sprout > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sprout-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  color: var(--navy);
  text-decoration: none;
}

.sprout-buttons button {
  border-radius: 12px 4px 12px 4px;
  width: 120px;
  height: 30px;
}

.seed {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5px;
}

.seed * {
	list-style: none;
}

.seed > div {
	grid-column: span 1;
	background: var(--beige);
	padding: 20px;
	margin: 20px;
  box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5);
  transition: transform 0.3s;
}

.seed >div:hover {
  transform: translateY(-5px);
}

.seed > div > * {
	width: 100%;
	padding: 5px 20px;
	font-size: 1.2rem;
}

.content-overlay{
	position:relative;
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.article {
	width: 900px;
	padding:  0px 15px;
  padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.article * {
	font-family: 'Roboto', sans-serif;
}

.article h1 {
	margin-top: 20px;
}

.article ul {
    margin: 5px 2rem;
}

#sustain-index ul {
  margin-bottom: 20px;
}
#sustain-img {
  margin-left: auto;
  margin-right: auto;
}


.banner{
	height: 200px;
	background-image: url('img/banner_desktop.jpeg');
	background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: 'Roboto', sans-serif;
}

.banner h1 {
	color: white;
	font-size: 3rem;
}

#psbanner {
	background-image: url('img/Potato_Storage.jpeg');
}

.article #r-and-d {
	background-image: url('img/Potato_Trials_Main.jpeg');
}

.article > p {
	text-align: justify;
}

.banner h1 {
}


.cards {
	display: flex;
	gap: 30px;
	justify-content: space-around;
	margin: 50px 30px;
}

.cards div {
	flex-basis: 100%;
	padding: 10px;
	border: solid;
	border-width: thin;
	border-color: var(--green);
	background-color: var(--beige);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cards div > a {
	width: 100%;
}

.cards > div p {
	margin: 10px 15px;
	flex-grow: 1;
}

.cards button {
	height: 40px;
	padding: 10px;
	width: 100%;
  color: var(--navy);
  font-weight: bold;

}

.cards button::hover {
	background-color: var(--blue);
}




.columns {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1.4fr;
	background-color:var(--yellow-desat);
	gap: 30px;
	padding: 0px 30px;
}

.columns div {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--beige);
	padding: 10px;
	margin: 20px 0px;
}
.columns .application {
	grid-column: span 1;
}
.columns .stats {
	grid-column: span 1;
}

.columns div > p {
	flex-grow: 1;
}

.columns div > h4 {
	margin-top: 10px;
}

.info {
	padding: 20px 40px;
	display: grid;
	height: 100%;
	grid-template-rows: 60% 40%;
	grid-template-columns: 1fr 1fr;
}

.contact-us {
	background-color: var(--yellow-desat);
	color: var(--navy);
	display: grid;
	gap: 100px;
	grid-template-columns: 1fr 1fr
}

#contact-left {
	grid-column: span 1;
	padding: 50px 40px;
}

#contact-right {
	grid-column: span 1;
	background-color: var(--green);
	color: var(--yellow-desat);
	padding: 10px;
	flex-basis: 40%;
	border-radius: 10px 30px 10px 30px;
}

#contact-right h1, #contact-right h2, #contact-right h3, #contact-right h4, #contact-right h5 {
  color: var(--beige) !important;
}

.input-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row .input-group {
	flex-basis: 45%;
}

#Message {
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	background: var(--beige);
}
label {
	margin-bottom: 6px;
	display: block;
	color: var(--brown);
}

.contact-us button {
	background: var(--navy);
	width: 100px;
	border: none;
	outline: none;
	color: var(--yellow-desat);
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.cta button{
	background: var(--blue);
	width: 100px;
	border: none;
	outline: none;
	color: var(--brown);
	height: 45px;
	font-size: 1.2rem;
	border-radius: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.cta button:hover {
	background: var(--blue);
	color: #FFFFFF;
}


input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
	background: var(--beige);
}

.read-more button {
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 12px 4px 12px 4px;
  font-size: 1.2rem;
  color: var(--navy);
}

/* Hover state */
.read-more button:hover {
    background-color: var(--blue) !important; /* Changing background color */
    transform: translateY(-3px) !important; /* Moving the button up */
    color: var(--navy);
}

.show-on-mobile {
	display: none !important;
}

#fert-pic {
  background-image: url("img/efficient28_2.jpg");
  background-size: cover;
  background-position: center;
  flex-basis: 40%;
  height: 100%;
}

#fert-cards {
  margin: 15px 10px;
}


.agronomy-home {
  margin: 20px 0;
  padding: 20px 50px;
  height: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.agronomy-home-img {
flex-grow:1; padding: 20px; width: 90%;
  background-image: url("img/Agronomy.jpeg");
  background-size: cover;
  background-position: center;
  align-self: stretch; 
}


#agronomy-index {
width: auto; flex-grow: 1; padding: 0px 80px; margin: 20px;
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5); background-color: var(--beige);
}


#sustain-index {
width: auto; flex-grow: 1; padding: 0px 80px; margin: 20px;
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5); background-color: var(--beige);
}


#fert-home {
  margin: 80px 0;
  padding: 20px 50px;
  height: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#fert-home-img {
flex-grow:1; padding: 20px; width: 90%;
  background-image: url("img/efficient28_2.jpg");
  background-size: cover;
  background-position: center;
  align-self: stretch; 
}


#fert-index {
width: auto; flex-grow: 1; padding: 0px 80px;
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5); background-color: var(--beige);
}




@media only screen and (max-width: 1350px) {
  .article {
    width: 80%;
  }


  .agronomy-home {
    flex-direction: column;
    padding: 0px 15px;
  }

  #agronomy-index {
    padding: 0 10px;
  } 
  #sustain-index {
    padding: 0 10px;
  }
 
  #fert-home {
    flex-direction: column;
    padding: 0px 15px;
  } 

  #fert-home-img {
    height: 400px;
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .agronomy-home-img {
    height: 400px;
    align-self: auto;
  }




  #fert-index {
    padding: 0 10px;
    margin-bottom: 15px;
  }
}








@media only screen and (max-width: 800px) {
  .agronomy-home-img {
    height: 200px;
  }
  #sustain-img {
    height: 200px;
  }


  #fert-home-img {
    height: 200px;
  }

  #fert-home {
    margin: 20px 0;
    margin-top: 0px;
  }

  .agronomy-home {
    margin: 20px 0;
  }

  .read-more {
     width: 100%;
   }
  .read-more button {
     width: 100%;
   }
	.r-and-d {
    height: auto;
		margin-bottom: 30px;
    flex-direction: column;
	}
  .r-d-grid {
    grid-gap: 5px;
    grid-auto-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }


  .r-d-text {
    padding: 5px;
    height: auto;
  }
  
   .banner {
     height: 200px;
     background-image: url(img/banner_mobile.JPG);
   } 

   .banner h1 {
     font-size: 1.3rem;
     width: auto;
   }

  .r-d-grid * {
    max-height: 25vh;
  }

	.article {
		width: 95vw;
		padding-bottom: 10px;
	}
	.article .columns {
		padding: 10px;
		gap: 10px;
	}

	.article .cards {
		gap: 5px;
		margin: 40px 10px;
		flex-direction: column
	}


	.sidebar{
		width: 40%;
	}

	.seed {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}

	.seed > div{
		padding: 5px;
		margin: 10px;
	}

	.contact-us * {
		padding: 0px;
	}

  
  .contact-us {
  	background-color: var(--yellow-desat);
  	color: var(--navy);
  	display: grid;
  	gap: 0px;
  	grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  .read-more button {
    margin-bottom: 60px;
    width: 80%;
  }
  
  .r-and-d {
    margin-bottom: 60px;
    padding: 5px 10px;
  }
  
  
  
  #r-d-button  button {
    margin-top: 10px !important;
  }
  
  .sprout {
    flex-direction:  column;
    height: auto;
    margin: 5px 5px;
  }
  
  .sprout-text {
    padding: 5px;
    width: 95%;
  }
  
  .sprout-buttons {
    margin: 0px;
  }
  
  .sprout-buttons button {
    margin-top: 10px;
    width: 100px;
  }
  
  .read-more {
    width: 95%;
    font-size: 1rem;
  }

  .sprout-img {
    width: 80%;
    min-height: 250px;
    margin: 10px 0px;
  }
 
  #img1 {
    margin: 0px;
    margin-top: 20px;
  }

  #contact-left {
    padding: 5px;
  }

  .article .columns {
    padding: 5px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  } 

	.show-on-mobile {
		display: inline-block !important;
	}

	.hide-on-mobile {
		display: none !important;
	}

  }

   .sprout-img {
     margin: 0px;
   }


}


@media only screen and  (min-width: 551px) and (max-width: 1350px) {


	.show-on-mobile {
		display: inline-block !important;
	}

	.hide-on-mobile {
		display: none !important;
	}

  .r-and-d {
    flex-direction: column;
    height: auto;
  }

  .sprout {
    flex-direction: column;
    height: auto;
  }

  .sprout-img {
    width: 60%;
    height: 300px;
    padding: 200px;
  }

  #img1 {
    margin: 0;
  }

  .potato-storage {
    max-height: 250px;
  }

  .contact-us {
    gap: 5px;
  }

  #contact-left {
    padding: 5px;
  }

  .seed >div {
    margin: 10px;
    padding: 5px;
  }

  .cols p {
    width: auto;
    margin: 20px 10px;
  }

  .sprout-img {
     margin: 0px;
     width: 80%;
   }
}


@media only screen and (max-width: 1350px) and (min-width: 551px) {

  .sprout {
    height: 500px;
  }
   .sprout-img {
     margin: 0px;
     width: 80%;
   }

   .r-and-d {
     margin-top: 0px;
    flex-direction: column;
   }

   #r-d-grid-container {
     height: 50vh;
   }
   

   #r-d-index {
     margin-top: 0px;
   }

   #fert-home {
    margin-top: 0px;
   }
   

}

@media only screen and (min-width: 551px) and (max-width: 1450px) {
  .sprout {
    height: auto;
    align-items: center;
  }
  .sprout-text {
  }
   .sprout-img {
     min-height: 450px;
     flex-grow: 1;
   }
}


@media only screen and (min-width: 551px) and (max-width: 1078px) {
  .responsive-title font {
    font-size: 3rem;
  }

}

@media only screen and (min-width: 1350px) and (max-width: 1450px) {
  .r-and-d {
    height: auto;
  }
}

@media only screen and (min-width: 1000px) and  (max-width: 1140) {
  .r-and-d {
    flex-direction: column;
  }
	
}



@media only screen and (min-width: 1078px ) {
	.article {
		width: 95%;
	}

  #sprout-read-more {
    margin: 20px;
  }

  .potato-storage * {
    font-size: 1.4rem;
  }

.contact-us {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}


	.responsive-title font {
    max-width: 80%;
		font-size: 4rem;
		padding: 0px 40px;
		text-align: center;
	}



	.content-overlay{
		position:relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		height: 200rem;
	}



	header {
	}


	.item-1-ss {
		background-image: url('img/Potato_Storage_1.jpeg'); /* Replace with your 16x9 image */
		background-size:cover;
	}

	.contact-us {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

@media only screen and (min-width: 1050px) {
	.article {
		width: 900px;
	}

  .potato-storage * {
    font-size: 1.6rem;
  }
  .potato-storage h1 {
    font-size: 2.4rem;
  }
}



.footer-content {
	text-align:center;
}

footer{
	background-color: var(--beige);
	padding:5%;
	height:10%;

}

.footer-container {
	display: flex;
	flex-direction: horizontal;
	flex-wrap: wrap;
	font-size: 0.75rem;
	justify-content: space-around;
	background-color: var(--beige);
	border-radius: -50px 50px 0px 0px;
	background-image:url("img/Footer_img.png");
	width:auto;
}

.footer-container div {
	flex-basis: 100%;
	max-width: 300px;

}

.footer-container a {
	font-size: 0.75rem;
	text-decoration: underline;
}

.footer-location {
	grid-row: span 1;
	width:50%;
	padding:20px;
}
.footer-contact {
        grid-row: span 1;
        width:50%;
        padding:20px;
}

.footer-copyright{
	width:100%;
	padding:5px;
	background-color: var(--beige);
	text-align:center;
}
#Agronomy-short-homepg{
	height:62vh;
	padding:10px;
	background:var(--beige);
	box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5);
}


@media only screen and (min-width: 1350px) {
  #fert-index {
    width: 120%;
    padding: 0px 30px;
    margin: 20px;
  } 

  #fert-home-img {
    margin: 30px 0;
    width: 40%;
  }

  .r-and-d {
    height: fit-content;
    margin: 10px 10px;
  }

  .r-d-text {
    height: fit-content;
    padding:  10px 20px;
  }

  .sprout {
    padding: 15px;
  }

  .sprout-text {
    padding: 15px;
  }
#potato-storage-img {
  min-height: 250px;
}
}


@media only screen and (min-width: 700px) {
#article-cards {
  margin-left:  30px;
  margin-right: 30px;
}
#potato-storage-img {
}
}

@media only screen and (min-width: 800px) {
#article-cards {
  margin-left:  0;
  margin-right: 0;
  gap: 10px;
}

.r-and-d {
  height: fit-content;
}


}
@media only screen and (min-width: 1050px) and (max-width: 1400px){
#article-cards {
  margin-left:  30px;
  margin-right: 30px;
  gap: 20px;
}

.sprout {
  margin: 15px 0;
}

}

@media only screen and (max-width: 1100px) {
  #tiers {
    flex-direction: column;
  }
  #tiers p {
    margin: 5px;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: inline-block !important;
  }


}

@media only screen and (min-width: 1100px) {
  #potato-storage-img {
    min-height: 350px;
    max-height: 400px;
  }

  #potato-storage > div {
    min-height: 350px;
  }
}

@media only screen and (max-width: 650px) {
   .sidebar {
     min-width: 300px;
     width: 50%;
   }
}


@media only screen and (max-width: 1000px) {
  .sprout {
    width: 100%;
    height: fit-content;
  }
}


@media only screen and (min-width: 1350px) {
  .sprout {
    margin: 5px
  }

}

@media only screen and (min-width: 1450px) {
  .sprout-text {
    height: fit-content;
    margin: 5px;
  }

  .sprout {
    margin: 5px;
  }
}

