html *{
  font-family: Roboto !important;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-align: justify;
}

body ul li {
  font-size: 3vh;
  margin-left: 3vh;

}


.responsive-title {
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/Agronomy.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display:flex;
  justify-content: center;
  align-items: center;
}

.responsive-title div {
  position: absolute;
  background-color: rgb(0, 04, 35, 0.5);
  height: 100vh;
  width: 100vw;

}

.responsive-title font {
  font-size: 40px;
  color: white;
  z-index: 1;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    width: 100vw;
    color: white;
}

li, a, button {
  color: #24252A;
  font-size: 16px;
  text-decoration: none;
}
.links {
  list-style: none;
}

.links a:hover {
  font-size: 20px;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
}

.links li a {
  transition: all 0.3s ease 0s;
}


button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #008888;
}

.logo {
  position:absolute;
  cursor: pointer;
  left: 10px;
}

.r-and-d {
  display: grid;
  grid-gap: 5vw;
  padding: 5vh 8vw;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  background-color: #181818;
}

.r-d-text {
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100%;
}

.r-d-text > * {
  font-size: 3vh;
}
/*
.r-d-text ul li {
  font-size: 100%;
}
*/
.r-d-text h1 {
  font-size: 5vh;
}

.r-d-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item-1, .item-2, .item-3, .item-4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.item-1 {
  grid-row: span 1;
  grid-column: span 4;
  background-image: url('../img/Potato_Trials_2.jpeg'); /* Replace with your 16x9 image */
}

.item-2 {
  grid-row: span 1;
  grid-column: span 6;
  background-image: url('../img/Potato_Trials_3.jpeg');
}

.item-3 {
  grid-row: span 1;
  grid-column: span 5;
  background-image: url(../img/Potato_Trials_Main.jpeg)
}

.item-4 {
  grid-row: span 1;
  grid-column: span 5;
  background-image: url('../img/Potato_Trials_1.jpeg');
}


.potato-storage {
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/Potato_Storage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: Roboto;
}

.potato-storage div {
  position: absolute;
  background-color: rgba(18, 18, 18, 0.5);
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.potato-storage h1, li , ul{
  color: white;
  z-index: 5;
  font-family: Roboto;
}

.potato-storage h1 {
  font-size: 4.5vh;
}

.potato-storage li, ul{
  font-size: 3.5vh;
  margin: 10px 50px;
}

#potato-storage-content {
  right: 5%;
  padding: 30px;
  max-height: 70%;
  max-width: 40%;
}


.content-overlay{
  position:relative;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}





.sprout-suppression {
  display: grid;
  grid-gap: 5vw;
  padding: 5vh 8vw;
  grid-template-columns: 1fr 1fr;
  height: 55vh;
  background-color: #181818;
  color:white;
}

.sprout-suppression-text {
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100%;
}

.sprout-suppression-text > * {
  font-size: 3vh;
}
/*
.r-d-text ul li {
  font-size: 100%;
}
*/
.sprout-suppression-text h1 {
  font-size: 5vh;
}

.sprout-suppression-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
}

.item-1-ss {
  background-image: url('../img/Potato_Storage_1.jpeg'); /* Replace with your 16x9 image */
  background-size:cover;
}

.responsive-title-agronomy-page{
  height: 100vh;
  min-height: 500px;
  background-image: url("../grassy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display:flex;
  justify-content: center;
  align-items: center;
}

.responsive-title-agronomy-page div {
  position: absolute;
  background-color: rgb(0, 04, 35, 0.5);
  height: 100vh;
  width: 100vw;

}

.responsive-title-agronomy-page font {
  font-size: 40px;
  color: white;
  z-index: 1;
}

.agronomy-tiers {
  height: 100vh;
  min-height: 500px;
  background-image: url("img/Potato_Trials_3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: Roboto;
}

.agronomy-tiers div {
  position: absolute;
  background-color: rgba(18, 18, 18, 0.5);
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agronomy-tiers h1, li , ul{
  color: white;
  z-index: 5;
  font-family: Roboto;
}

.agronomy-tiers h1 {
  font-size: 4.5vh;
}

.agronomy-tiers li, ul,p{
  font-size: 3vh;
  margin: 10px 50px;
}

.tier-div {
  display: grid;
  grid-gap: 5vw;
  padding: 5vh 8vw;
  grid-template-columns: 1fr 1fr;
  height: 140vh;
  background-color: #181818;
  color:white;
}

.item-1-agronomy-tiers {
  background-image: url('img/Potato_Trials_2.jpeg'); /* Replace with your 16x9 image */
  background-size:cover;
}

.precision-farming {
  display: grid;
  grid-gap: 5vw;
  padding: 5vh 8vw;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  background-color: #181818;
}

.precision-farming-text {
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100%;
}

.precision-farming-text > * {
  font-size: 3vh;
}
/*
.r-d-text ul li {
  font-size: 100%;
}
*/
.precision-farming-text h1 {
  font-size: 5vh;
}
.pf-grid {
    height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
}
.item-1-pf {
  background-image: url('../img/more/spray.jpg'); /* Replace with your 16x9 image */
  background-size:cover;
}
